$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media){
  @if $media == hendhelds{
    @media only screen and (max-width: $break-small){ @content; }
  }
  @else if $media == medium-screens{
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large -1){ @content; }
  }
  @else if $media == wide-screen{
    @media only screen and (min-width: $break-large){ @content; }
  }
}

@mixin center(){
  display: block;
  margin: auto;
  text-align: center;
}

page-signin {
  .scroll-content{
    background: url(../assets/bg/beer_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: center;
  }

  img{
    width: 180px;
    margin-bottom: 16px;
  }

  .infos{
    @include respond-to(hendhelds){
      width: 100%
    }
    @include respond-to(medium-screens){
      width: 75%
    }
    @include respond-to(wide-screen){
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%, -50%);
      width: 75%
    }
    margin-top: 10vh;

    .facebook-button{
      margin: 50px 0 0;
    }

    .signup-wrapper{
      margin-top: 16px;
      @include center();
      
      .signup{
        color: color($colors, SCyellow);
        letter-spacing: 0.1rem;
        font-weight: bold;
        font-size: 1.3rem;
      }
    }

    .item{
      padding: 0px;
      border: 1px solid #dedede;
      border-radius: 3px;
      margin-top: 10px;
    }

    .item-inner{
      background-color: rgba(0, 0, 0, 0.3);
    }

    .text-input{
      padding-left: 10px;
    }

    .item-ios{
      background-color: transparent;
      color: color($colors, SClightgrey);
    }

    .item-md{
      background-color: transparent;
      color: color($colors, SClightgrey);
    }

    .list-ios{
      margin: -1px 0 18px;
    }

    .list-md{
      margin: -1px 0 18px;
    }

    .options{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .forgot-password{
        color: color($colors, SClightgrey);
        font-size: 1.5rem;
        font-weight: bold;
      }

      .button{
        width: 110px;
      }
    }
  }
}
